@tailwind base;
@tailwind components;
@tailwind utilities;


.about-page {
    @apply  max-w-7xl px-4 md:px-6 py-12 rounded-md bg-gray-50 dark:bg-transparent
            grid place-items-center md:place-items-start md:grid-cols-[1fr,3fr] gap-8;
}


.about-page main > *:not(:last-child) {
    @apply mb-14;
}
.about-page article:not(:last-of-type) {
    @apply mb-2;
}

.about-page data {
    opacity: .6;
}


.about-page ul.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
}

.about-page ul.skills li {
    @apply p-3 w-full flex gap-2 items-center cursor-pointer
    bg-gray-100 hover:!bg-transparent dark:bg-emerald-950;
}