:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --navy-linear: #0a252f; /* #0d3830 little lighter (focused) */

  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;

  --main-color-tint: rgba(100, 255, 218, 0.1);
  --main-color: #64ffda;
  --main-color-light: #68c2a6;
  --white: #e6f1ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply text-mainColor bg-black;
  }

  *,
  ::before,
  ::after {
    @apply duration-[50ms] ease-out;
  }

  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    @apply font-main text-slate bg-navy;
  }

  body::before {
    content: "";
    @apply fixed w-full h-full bg-mainGradient;
  }

  body data {
    opacity: 0.6;
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    @apply text-lightestSlate capitalize !font-main !font-bold;
  }

  body h1 {
    @apply text-4xl sm:text-5xl xl:text-6xl mb-8;
  }

  body h2 {
    @apply text-2xl sm:text-3xl xl:text-4xl mb-6 relative w-fit z-10;
  }

  body h2::before {
    content: "";
    @apply absolute w-full h-1/3 bottom-0 bg-lightestNavy z-[-1];
  }

  body h3 {
    @apply text-lg sm:text-xl xl:text-2xl mb-3;
  }
}

@layer components {
  .heading {
    @apply !text-3xl !mb-2;
  }

  .title {
    @apply w-fit text-2xl;
  }

  .title::before {
    content: "\2022";
    margin-right: 5px;
  }

  .btn-primary {
    @apply p-2 px-8 capitalize border-[1px] font-mono border-mainColor text-mainColor inline-block
          shadow-[4px_4px_0_0] active:translate-x-1 active:translate-y-1 active:shadow-none;
  }

  .scroll-static-progress {
    --w: 5px;
    --h: 40vh;
    border-radius: 50px;
    display: block;
    position: relative;
    background: linear-gradient(
      140deg,
      var(--navy) -19.44%,
      var(--light-navy) 44.12%,
      var(--lightest-navy) 117.57%
    );
    width: var(--w);
    height: var(--h);
    left: calc(50% - var(--w));
  }

  .ragab-img {
    @apply duration-500 ease-out overflow-hidden;
  }

  .items-list li {
    @apply hover:text-lightSlate active:text-lightestSlate;
  }

  li.active {
    @apply !text-lightestSlate scale-125;
  }
}

/* Starting developing tool-label */
/* Main Source is fontawesome.com */
/* But in my way :D*/
[aria-label] {
  position: relative;
}

[aria-label]::before,
[aria-label]::after {
  @apply absolute bottom-full left-1/2 -translate-x-1/2 w-max
         capitalize text-xs text-lightestSlate opacity-0;
  content: "";
  transition: all 0.18s ease-out 0.18s;
  pointer-events: none; /*isolate it as different element not related ot it*/
}

[aria-label]::before {
  @apply py-2 px-4 mb-[5px] rounded-[4px] bg-black;
  content: attr(aria-label);
}
[aria-label]::after {
  @apply border-[5px] mb-[-5px] border-transparent border-t-black;
}

[aria-label]:hover::before,
[aria-label]:hover::after {
  opacity: 1;
  transform: translate(-50%, -5px);
}
/* 
#cursor {
  --x: 0;
  --y: 0;
  background-image: radial-gradient(600px at var(--x) var(--y), rgb(55 130 61 / 7%), transparent 80%);
} */

/* my svg image */
#ragab > g:last-of-type > circle,
#ragabBig > g:last-of-type > rect:last-of-type {
  fill: var(--lightest-navy);
}
